#root {
  background: rgb(241, 241, 241);
}

.card {
  height: 230px;
  width: 230px;
  position: relative;
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
  padding: 0;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 2px rgba(79, 79, 79, 0.75);
  -webkit-box-shadow: 1px 1px 5px 2px rgba(79, 79, 79, 0.75);
  -moz-box-shadow: 1px 1px 5px 2px rgba(79, 79, 79, 0.75);
  justify-content: center;
  margin: 10px;
}

/* Image */
.card-image {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #0a3394;
  background: linear-gradient(to top, #0a3394, #4286f4);
}

/* Close Button */
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  /* Agrega más estilos según sea necesario */
}

/* Description */
.card-description {
  display: flex;
  position: absolute;
  gap: 0.5em;
  flex-direction: column;
  background-color: #0c0c0cdc;
  color: #d4d4d4;
  height: 70%;
  width: 100%;
  bottom: -70%;
  transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5rem;
}

/* Text */
.text-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.text-body {
  font-size: 1rem;
  line-height: 130%;
}

/* Hover states */
.card:hover .card-description {
  bottom: 0; /* Muestra el elemento moviéndolo hacia arriba */
}
